<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="index.css" />
    <title>index</title>
  </head>
  <body>
    <center>
      <div id="botones">
        <div id="carro">
          <a id="boton" href="../Carro">Carro</a><br />
        </div>
        <div id="cliente">
          <a id="boton" href="../cliente">Cliente</a><br />
        </div>
        <div id="mensaje">
          <a id="boton" href="../mensaje">Mensaje</a> <br />
        </div>
      </div>
    </center>
  </body>
  Image by
  <a
    href="https://pixabay.com/users/dayronv-1243797/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=885309"
    >Dayron Villaverde</a
  >
  from
  <a
    href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=885309"
    >Pixabay</a
  >
</html>
